.profile{
  background: #2F4550;
  min-height: 200vh;
}

.profil-picture {
  font-size: 100px;
  border: none !important;
}

.profile-card {
  overflow: hidden;
  height: 200px;
  display: flex;
  align-items: top;
  padding: 20px;


}

.profile-card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;

}

.profile-card h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;

}

.profile-card p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.profile-card .profile-card-infos {
  padding: 16px;
}

.background-profile {
  background: #002642;
  background-position: 100%;
  background-size: cover;
  // background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.nav-link-profile {
  font-size:25px;
}

.nav-item-profile {
  width:20%;
}



