<div class="banner">
    <div id="cover">
      <form method="get" id="search-form" action="test">
        <div class="tb">
          <div class="td">
            <input type="text" class="form-control" autocomplete="off" placeholder="Find movie" id="search-input" required>
            <ul id="results" class="list-search list-inline"></ul>
          </div>
          <div class="td" id="s-cover">
            <button type="submit">
              <div id="s-circle"></div>
              <span></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

