
<div class="banner">
    <div id="cover">
      <form id="search-form" method="get" action="/movies">
        <div class="tb">
          <div class="td">
            <input id="search-input" name="search" class="form-control" type="text" autocomplete="off" placeholder="Find movie" required>
            <ul id="results" class="list-search list-inline"></ul>
          </div>
          <div class="td" id="s-cover">
            <button type="submit" value="Search">
              <div id="s-circle"></div>
              <span></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
