<div class= "background-tinder" >
<div class="container" >
  <div class="cardSlider">
    <div class="wrapper-slider">
      <div class="action_btns">
          <div class="btn btn_prev fa fa-arrow-circle-left"></div>
          <div class="btn btn_next fa fa-arrow-circle-right"></div>
      </div>
      <div class="cards_container">
        <div class="row d-flex justify-content-center">
          <% indexnb = 0 %>
            <% current_user.recommended_movies.first(10).each_with_index do |movie,index| %>
              <% movie_details = movie.get_details %>
              <div class="col-5 item active" data-id="<%= index +1 %>">
              <%= render "movies/new_movie_card", movie_details: movie_details, movie: movie %>
              <% indexnb += 1 %>
              </div>
            <% end %>
            <div class="col-5 item active" data-id="<%= indexnb +1 %>">
              <h2 class="btn btn-primary m-2">
                <%= link_to "Refresh", step_two_path%>
              </h2>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
