.link-without-style {
  color:             inherit;
  text-decoration:   none;
  &:hover {
    color:           inherit;
    text-decoration: none;
  }
}

.amazon {
  margin-top: 15px;
  justify-content : center;
}

.logo-amazon {
  width: 73px;
  height: 34px;
}
