.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo-navbar {
  width: 80px;
}

.nav-link:hover {
  opacity: 0.8;
}

.action-btn {
  font-size:       22px;
  padding:         5px;
  margin-top:      5px;
}

.fa-user-ninja {
  font-size:       20px;
  padding:         5px;
  border: solid    1px;
  border-radius:   50%;
  margin-top:      5px;
  color: black;
  text-decoration: none;
}

.fa-user-tie {
  font-size:       20px;
  padding:         5px;
  border: solid    1px;
  border-radius:   50%;
  margin-top:      5px;
  color: black;
  text-decoration: none;
}

.navbar-transparent {
  position:         fixed;
  background-color: transparent;
  width:            100vw;
  height: 80px;
}

.avatar-navbar:hover {
  color:   rgb(250,250,250);
  opacity: 0.8;
}

.white-item-navbar {
  color: white !important;
}
