.tb {
  display: table;
  width: 100%;
}

.td {
  display:        table-cell;
  vertical-align: top;
}


#cover {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 750px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #052641;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #852532;
    transform: scale(0.6);
    opacity: 0.88;
}

.banner {
  input, button {
      color: #C0C6C9;
      font-family: 'Julius Sans One' ;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
  }

  form {
      height: 96px;
  }

  input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
  }

  input[type="text"]::placeholder {
    color: #C0C6C9;
  }

  button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
  }

  button span {
      position: absolute;
      top: 68px;
      left: 43px;
      display: block;
      width: 45px;
      height: 15px;
      background-color: transparent;
      border-radius: 10px;
      transform: rotateZ(52deg);
      transition: 0.5s ease all;
  }

  button span:before, button span:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 45px;
      height: 15px;
      background-color: #852532;
      border-radius: 10px;
      transform: rotateZ(0);
      transition: 0.5s ease all;
  }
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}


#s-circle
{
    position:         relative;
    top:              -8px;
    left:             0;
    width:            70px;
    height:           70px;
    margin-top:       0;
    border-width:     15px;
    border:           15px solid #852532;
    background-color: transparent;
    border-radius:    50%;
    transition:       0.5s ease all;
}


#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #852532;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #852532;
}


.list-search{
  background: no
}

.autocomplete-movies{
  background-color: white;
  margin-bottom: 2px;
  border-radius: 10px;
  img{
    margin-left: 0;
    border-radius: 10px 0 0 10px;
    height:        90px;
    width:         60px;
    margin-right:  10px;
  }
  &:hover{
  background-color: #9C325A;
  color: white;
  }
  span{
    font-size: 20px;
    color:     black;
  }
}

.autocomplete-btn{
  margin-top:5px;
  width:50%;
  justify-content:center;
  button{
    height: 50%;
    width: 100%;
    p{
      width:100%;
      font-size: 14px;
      color:black;
      font-weight: bold,
    }
  }
}
